@import "components/buttons";
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import 'root';

a {
  cursor: pointer;
}

.font-carter {
  font-family: 'Carter One', 'sans-serif', 'serif';
}

.font-russo {
  font-family: 'Russo One', 'sans-serif', 'serif';
}

.font-roboto {
  font-family: 'Roboto', 'sans-serif', 'serif';
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
}

section.page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  position: relative;
}

.dots-container {
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @media screen and (max-width: 768px) {
    bottom: 2rem;
    top: auto;
    width: 40vw;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--brown);
    cursor: pointer;

    transition: all 0.5s ease;

    &:not(.active) {
      background-color: var(--white);
      scale: 0.8;
    }
  }
}
